body {
    margin: 1px 1px;
    height: 100%;
    background-image: url("ultraback.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*
  .uppercontent{
    background-image: url("back04.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat repeat;
    background-size: cover;
}
*/

.navbar {
    height: 76px;
    border-bottom:1px solid white;
}

.firstpart {
    float: left;
}

.secondpart {
    float: right;
}

#logo {
    float: left;
}

    #logo img {
        max-width: 100%;
        max-height: 100%;
        width: 248px;
        height: 66px;
        margin-top: -1px;
    }

#searchbar {
    float: left;
    margin-left: 14px;
    margin-top: -12px;
}

.clear {
    clear: both;
}

#searchbar i {
    font-size: 16px;
    color: white;
}

#searchbtn {
    display: inline-block;
    margin-left: -7px;
    position: relative;
    top: 0px;
    background-color:transparent;
    border: none;
    height: 34px;
    width: 32px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

    #searchbtn img {
        margin-top: -5px;
        margin-left: -5px;
        width: 34px;
        height: 32px;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #c5c2c2;
    }


#search {
    display: inline-block;
    margin-top: 29px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(197, 194, 194);
    height: 32px;
    width: 300px;
    padding-left: 5px;
    margin-left: 35px;
}

#mobsearchbar {
    display: none;
}

    #sform{
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 22px;
    }

    #si{
        display: flex;
        align-items: center;
        justify-content: center;
    }

#mobsearchbtn {
    display: inline-block;
    border: 1px solid rgb(197, 194, 194);
    height: 32px;
    width: 34px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #c5c2c2;
    cursor: pointer;
}

    #mobsearchbtn i {
        width: 34px;
        height: 32px;
        color: #a09f9f;
        font-size: 18px;
        line-height: 26px;
    }

#mobsearch {
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(197, 194, 194);
    height: 32px;
    width: 200px;
    padding-left: 15px;
}

.mainlist {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

.mainlist i{
    color: white;
}

.menu {
    padding-top: 1px;
    margin-top: 5px;
    margin-right: 65px;
    line-height: 29px;
    float: left;
}

.mainmenu{
    margin-top: 10px;
}

.menubtn {
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    color: white;
    padding-bottom: 2px;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid white;
}

.menubtn a{
    color: white;
}

#cbtn:hover + .category {
    display: block;
}

.category {
    position: absolute;
    z-index: 1;
    margin-left: -1px;
    background-color: #322375;
    width: 116px;
    display: none;
    border-radius: 6px;
    border: 1px solid white;
    border-top: 0px solid transparent;
}

.category a{
    color: white;
    text-decoration: none;
}

    .category:hover {
        display: block;
    }

    .category li {
        list-style: none;
        text-align: left;
        margin-left: -5px;
    }

    .category a:hover{
         color: red;
    }

.category li:hover .sub {
            display: block;
        }

.sub {
    position: absolute;
    z-index: 0;
    margin-left: 80px;
    margin-top: -28px;
    background-color: #322375;
    display: none;
    border-radius: 6px;
    border: 1px solid white;
}

    .sub li {
        width: 110px;
        text-align: left;
        margin-left: -9px;
    }

.mobile {
    float: right;
}

.mobmenu ul li {
    margin-left: -12px;
}

.smallmenu {
    display: none;
}

.mobcategory {
    position: absolute;
    top: 3px;
    left: 0px;
    z-index: 1;
    background-color: #30a5ba;
    width: 290px;
}

    .mobcategory p {
        font-weight: bold;
        padding-top: 5px;
        color: black;
        margin-left: 45px;
        font-size: 18px;
    }

    .mobcategory li {
        list-style: none;
        text-align: left;
        margin-left: -5px;
        font-weight: 600;
        border-width: 1px 1px 0px 0px;
        border-style: solid;
        border-color: darkgray;
        background-color: #30a5ba;
        padding: 6px 6px;
    }

        .mobcategory li a {
            color: black;
            text-align: center;
            margin-left: 30px;
            font-size: 18px;
        }

        .catlist i{
              float: right;
              margin-right: 10px;
        }

.mobsub {
    margin-left: -20px;
    background-color: #32317d;
    display: none;
    z-index: 2;
}

    .mobsub li {
        border: none;
        background-color: #32317d;
    }

        .mobsub li a {
            color: white;
        }

.langlog {
    display: none;
    float: right;
    margin-top: -10px;
}

.langlogin {
    float: right;
    margin-top: -10px;
}

.lanbtn {
    height: 18px;
    font-size: 10px;
    background-color: rgb(252, 173, 99);
    font-weight: bold;
    border: 1px solid rgb(252, 173, 99);
    cursor: pointer;
    border-radius: 5px;
}

.moblanglog {
    float: left;
    margin-top: -10px;
    display: none;
}

    .moblanglog ul li {
        list-style: none;
    }

.login img {
    font-size: 22px;
    padding-left: 60px;
    cursor: pointer;
}

.login i {
    margin-top: 12px;
    font-size: 22px;
    padding-left: 70px;
    cursor: pointer;
}

.moblogin i {
    font-size: 20px;
    margin-top: 20px;
    padding-left: 74px;
    cursor: pointer;
    color: white;
}

.smoblogin i {
    font-size: 18px !important;
    cursor: pointer;
    margin-left: 5px;
    color: white;
    display: none;
}

.login:hover + .account {
    display: block;
}

.account:hover {
    display: block;
}

.logoutbtn {
    background-color: #4f1c67;
    color: white;
}

@media screen and (max-width: 1246px) {
    #search {
        width: 260px;
    }
}

.poster {
    min-height: 160px;
    border-radius: 6px;
}

    .poster img {
        border-radius: 8px;
    }

.topoffers{
    margin-top: 15px;
}

@media screen and (max-width: 1156px) {
    #search {
        width: 220px;
    }

    #searchbar{
        margin-left: 15px;
    }

    .poster{
        min-height: 90px;
    }

    .topoffers{
        margin-top: 20px;
    }
}

.mobmenu {
    margin-top: 4px;
    margin-left: 15px;
    display: none;
    float: right;
}

#mobbtn {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    border: 0px solid rgb(252, 173, 99);
    line-height: 25px;
    color: #4f1c67;
}

#minimenu {
    border-radius: 5px;
    background-color: rgb(252, 173, 99);
    border: 0px solid rgb(252, 173, 99);
    line-height: 25px;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 28px;
    cursor: pointer;
}

.mobmenu i {
    font-size: 24px;
    padding-top: 3px;
    margin-bottom: 3px;
}

@media screen and (max-width: 1015px) {
    .mobmenu {
        display: block;
    }

    #catblock {
        display: none;
    }

    .moblanglog {
        display: block;
    }

    .moblogin:hover + .mobaccount {
        display: block;
    }

    .mobaccount:hover {
        display: block;
    }

    .menu {
        display: none;
    }

    .langlog {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #search {
        margin-left: 1px;
        width: 180px;
    }

    .moblogin{
        display:none;
    }
}

.account {
    position: absolute;
    z-index: 1;
    height: 80px;
    background-color: #4f1c67;
    padding-left: 35px;
    margin-right: 15px;
    clip-path: inset(1px 0px 0px 20px);
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
}

.mobaccount {
    position: absolute;
    z-index: 2;
    height: 70px;
    width: 110px;
    background-color: #4f1c67;
    clip-path: inset(1px 0px 0px 20px);
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 35px;
    display: none;
}

.smobaccount {
    position: absolute;
    z-index: 2;
    height: 70px;
    width: 110px;
    background-color: #4f1c67;
    clip-path: inset(1px 0px 0px 20px);
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: -48px;
    display: none;
}

.account a{
    color: white;
}

.mobaccount a {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.smobaccount a {
    font-size: 12px;
    font-weight: bold;
    margin-left: -3px;
    color: white;
}

.account li {
    list-style: none;
    margin-top: 4px;
    margin-bottom: 3px;
}

.smobaccount li {
    list-style: none;
}

.carousel-inner {
    margin-top: 18px;
    border: 2px solid white;
    border-radius: 6px;
}

@media screen and (max-width: 645px) {
    #searchbar {
        display: none;
    }

    #mobsearchbar {
        display: block;
        margin-top: -12px;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-inner {
        margin-top: 7px;
    }

    .smoblogin {
        display: inline-block;
        width: 28px;
    }

        .smoblogin:hover + .smobaccount {
            display: block;
        }

    .smobaccount:hover {
        display: block;
    }

    #slanbtn {
        display: inline-block;
        height: 18px;
        font-size: 10px;
        background-color: rgb(252, 173, 99);
        font-weight: bold;
        border: 1px solid rgb(252, 173, 99);
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        top: -3px;
    }
}

@media screen and (max-width: 768px) {

    #logo img {
        width: 218px;
        height: 62px;
    }
}

@media screen and (max-width: 399px) {
    .firstpart {
        width: 200px;
    }

    .secondpart {
        width: 82px;
        margin-left: -1px;
    }

    .moblanglog {
        display: none;
    }

    .slanbtn {
        clip-path: inset(0px 3px 0px 1px);
    }

    .moblogin i {
        margin-left: -3px;
    }

    .navbar {
        height: 85px;
    }

    .smallmenu {
        display: block;
    }

    .smoblogin {
        margin-top: 12px;
        margin-left: -15px;
        display: inline-block;
    }

    #forlang {
        margin-top: 10px;
        margin-left: 4px;
    }

    #logo img {
        width: 230px;
        height: 64px;
    }

    #backhome{
        display: inline-block;
        position: relative;
        top:  5px;
        left: 5px;
    }

    #backhome i{
        color: white;
    }
}

.d-block{
    height: 428px;
    border-radius: 6px;
}

@media screen and (min-width: 767px) and (max-width: 1065px){
    .d-block {
        height: 375px;
    }

    #searchbar{
        margin-left: -25px;
    }
}

@media screen and (min-width: 451px) and (max-width: 520px) {
    .d-block {
        height: 370px;
    }
}

    @media screen and (max-width: 450px) {
        .d-block {
            height: 236px;
        }
    }

    .icons h5 {
        text-align: center;
        font-weight: bold;
        color: rgb(32, 81, 189);
        font-size: 18px;
        margin-top: -8px;
    }

    .mobicons h5 {
        text-align: center;
        font-weight: bold;
        color: rgb(32, 81, 189);
    }

    .iconimg {
        width: 85%;
        max-height: 45px;
        display: block;
        margin: auto;
    }

    .icons {
        width: 100%;
    }

    .iconrow {
        display: block;
        margin: auto;
        width: 78%;
    }

    .mobicons {
        margin: 4px auto;
        max-width: 290px;
        display: none;
    }

    .alink {
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        color: white;
    }

    .iconcont {
        text-align: center;
        display: inline-block;
        padding-left: 22px;
        margin-top: 5px;
        width: 7%;
        max-height: 55px;
    }

    .iconmobcont {
        text-align: center;
        display: inline-block;
        padding-left: 5px;
        margin-top: 5px;
        width: 65px;
        height: 45px;
    }

@media screen and (max-width: 1220px) {
    .alink {
        font-size: 12px;
    }

    .iconrow {
        width: 82%;
    }
}

    @media screen and (max-width: 1065px) {
        .alink {
            font-size: 11px;
            font-weight: bold;
        }

        .iconcont {
            width: 60px;
            height: 40px;
        }

        .iconimg {
            max-width: 60px;
            max-height: 40px;
        }

        .iconrow {
            width: 80%;
        }
    }

    @media screen and (max-width: 1011px) {

        .iconcont {
            width: 60px;
            height: 40px;
        }

        .iconrow{
            max-width: 430px;
        }
    }

    @media screen and (max-width: 767px) {

        .iconimg {
            max-width: 65px;
            max-height: 45px;
        }

        .icons {
            margin: 1px auto;
            max-width: 500px;
        }

        .iconcont {
            text-align: center;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 5px;
            width: 55px;
            height: 35px;
        }

        .iconrow {
            margin: 1px auto;
            max-width: 360px;
        }

        .alink {
            margin-left: 3px;
            margin-right: 3px;
        }
    }

    .iconrow {
        margin-top: 10px;
    }

    @media screen and (max-width:505px) {

        .alink {
            font-size: 14px;
        }

        .mobicons {
            display: block;
        }

        .icons {
            display: none;
        }

        .mobicons h5 {
            font-size: 14px;
            text-align: center;
        }

        .iconmobcont {
            padding-left: 20px;
        }

        .iconimg {
            width: 105%;
            max-width: 70px;
            max-height: 48px;
        }

        .mobiconrow{
            margin: 10px auto;
            max-width: 360px;
        }
    }

    @media screen and (max-width: 340px) {

        #mobsearch {
            width: 175px;
        }

        .mobicons {
            margin: 1px auto;
        }
    }

    .netnews {
        max-width: 395px;
        margin: 2px auto;
        height: 40px;
    }

    .infotool {
    }

    .widgetcont {
        margin-top: 6px;
    }

    .newswidget {
        margin: auto;
    }

    #weather {
        margin-left: 15px;
        margin-top: 5px;
        float: left;
    }

    .lastinfo {
        margin-left: 6px;
        float: left;
    }

    #mynews {
        border-radius: 6px;
        background-color: rgb(245, 173, 107);
        text-align: center;
        float: right;
        margin-right: 25px;
        margin-top: 4px;
        border: 0px solid rgb(245, 173, 107);
    }

    .netnews p {
        font-weight: bold;
        font-size: 16px;
        padding-top: 8px;
        color: rgb(20, 74, 136);
        line-height: 10px;
    }

    .postcont {
        max-width: 330px;
        height: 210px;
        margin: 5px auto;
        border-radius: 10px;
    }

        .postcont a {
            color: rgb(20, 74, 136);
        }

    .postlogo {
        max-width: 95px;
        max-height: 60px;
    }

    .postcont span a {
        font-weight: bold;
        font-size: 14px;
        text-decoration: underline;
        display: block;
        text-align: center;
    }


    .postcont h6 {
        text-align: center;
        padding: 1px 2px;
        font-size: 16px;
        color: white;
    }

    .postcont img {
        width: 100%;
        max-height: 192px;
        display: block;
        margin: 1px auto;
        border-radius: 6px;
    }

    .postitem {
        max-width: 230px;
        height: 225px;
        border: 1px solid #c5c2c2;
        background-color: rgb(245, 245, 241);
        margin-top: 5px;
        border-radius: 8px;
    }

        .postitem span a {
            font-weight: bold;
            font-size: 14px;
            text-decoration: underline;
            padding-left: 20px;
        }

        .postitem span {
            font-size: 12px;
            font-weight: bold;
            margin-left: 8px;
        }

        .postitem h6 {
            font-weight: bold;
            text-align: center;
            padding: 1px 2px;
            color: #1c3067;
            font-size: 15px;
        }

        .postitem img {
            width: 90%;
            max-width: 178px;
            height: 134px;
            display: block;
            margin: 1px auto;
            object-fit: cover;
        }

    @media screen and (max-width: 1198px) {

        .postitem img {
            max-width: 155px;
            max-height: 130px;
            display: block;
            margin: 1px auto;
        }

        .postitem {
            height: 234px;
        }
    }

    @media screen and (max-width: 990px) {
        .postitem img {
            max-width: 166px;
            max-height: 120px;
        }

        .postitem {
            height: 230px;
        }
    }

    @media screen and (max-width: 574px) {
        .postitem img {
            max-width: 172px;
            max-height: 122px;
        }
    }

    .myframe {
        min-height: 125px;
    }
    
    .specials{
        margin-top: 12px;
    }

    .specdiscount {
        margin-top: 10px;
    }

        .specdiscount h5 {
            text-align: center;
            color: white;
            font-size: 17px;
        }

    .exclusive {
        max-width: 225px;
        padding-left: 20px;
        display: inline-block;
    }

        .exclusive h5 {
            margin: 1px auto;
        }

    .bestinfo {
        max-width: 500px;
        margin: 2px auto;
    }

    @media screen and (max-width:1150px) {
        .postcont img {
            max-width: 100%;
            min-height: 150px;
        }

        .postcont {
            height: 185px;
        }
    }

    @media screen and (max-width:1054px) {

        .postcont img {
            max-width: 90%;
        }
    }

    @media screen and (max-width:975px) {
        .postcont {
            max-width: 180px;
        }

            .postcont img {
                max-width: 175px;
                max-height: 95px;
            }

        .freenews {
            max-width: 180px;
        }

        .bestinfo {
            max-width: 395px;
        }

        .lastinfo {
            margin-left: 1px;
        }

        #weather {
            margin-left: 40px;
        }

        #mynews {
            margin-right: 40px;
            padding: 3px 0px;
        }
    }

    @media screen and (min-width:768px) and (max-width:978px) {

        .poster {
            min-height: 86px;
        }
    }

    @media screen and (min-width:1065px) {

        #ficon {
            margin-left: 24px;
        }
    }

    @media screen and (min-width:768px) and (max-width:825px) {
        .postcont {
            max-width: 160px;
            height: 205px;
        }

            .postcont img {
                max-width: 155px;
                max-height: 85px;
            }

            .postcont span a {
                padding-left: 25px;
            }

        .poster {
            min-height: 86px;
        }

        .netnews p {
            font-size: 12px;
        }

        .recentpost {
        }

            .recentpost h5 {
                font-size: 16px;
            }

        #mynews {
            margin-right: 50px;
            height: 35px;
        }

        .topoffers {
            margin-top: -10px;
        }
    }

    @media screen and (max-width: 767px) {
        .specdiscount {
            margin: 5px 30px;
        }

        .postcont {
            max-width: 275px;
            height: 210px;
        }

            .postcont img {
                max-width: 100%;
                max-height: 165px;
                display: block;
                margin: 1px auto;
            }

        .poster {
            height: 180px;
        }

        .netnews h6 {
            font-size: 16px;
        }

        .bestinfo {
            max-width: 500px;
        }

        .lastinfo {
            margin-left: 8px;
        }

        .recentpost h5 {
            font-size: 18px;
        }

        #weather {
            margin-left: 20px;
        }

        .newswidget {
            display: none;
        }

        .icons h5 {
            margin-top: 20px;
        }
    }

    @media screen and (max-width:505px) {
        .postcont {
            max-width: 218px;
            max-height: 220px;
            margin: 5px auto;
        }

            .postcont img {
                max-width: 215px;
                max-height: 150px;
            }

        .freenews {
            max-width: 218px;
            margin: 6px auto;
        }

        .netnews h6 {
            font-size: 16px;
        }

        .bestinfo {
            max-width: 290px;
        }

        .lastinfo {
            display: none;
        }

        .mobi {
            display: block;
            margin: 1px auto;
            float: none;
        }

        #mynews {
            margin-left: 29px;
        }

        #weather {
            margin-top: 5px;
        }

        .specdiscount {
            margin-top: 15px;
        }
    }

    .proslider h5 {
        text-align: center;
        font-weight: bold;
        color: rgb(32, 81, 189);
    }

    .proslider {
        position: relative;
        z-index: 0;
    }

    .owl-prev {
        width: 20px;
        height: 25px;
        background-color: #CACACB !important;
    }

    .owl-next {
        width: 20px;
        height: 25px;
        background-color: #CACACB !important;
    }

.foot-container {
    margin-top: 10px;
    border-top: 1px solid white;
}

    .mobfoot-container {
        display: none;
    }

    .menuinfo {
        margin: 15px auto;
    }

        .menuinfo h6 {
            margin-left: 40px;
            font-weight: bold;
            color: white;
        }

        .menuinfo a {
            color: white;
        }

    .footinfo li {
        list-style: none;
        font-weight: 500;
    }

    .social {
        display: inline-block;
        margin-right: 6px;
        font-size: 22px;
    }

    .partners li {
        list-style: none;
    }

    .about {
        list-style: none;
    }

    .resetrow {
        margin-left: -14px;
        margin-right: -14px;
    }

.fullfoot {
  
}

    #currency {
        display: block;
        height: 70px;
        clip-path: inset(32px 1px 1px 26px);
        margin-top: -26px;
        margin-bottom: 6px;
        border-bottom: 1px;
        border-bottom-color: black;
    }

    .mobcurrency {
        display: none;
        clip-path: inset(34px 1px 1px 26px);
        margin-top: -20px;
    }

    @media screen and (max-width: 580px) {
        #currency {
            display: none;
        }

        .mobcurrency {
            display: block;
        }
    }

    @media screen and (max-width: 605px) {

        .postcont img {
            max-width: 90%;
        }
    }

    .mobnewswidget {
        display: none;
    }

    @media screen and (max-width: 767px) {

        #mmynews {
            border-radius: 6px;
            background-color: rgb(245, 173, 107);
            text-align: center;
            float: right;
            margin-right: 25px;
            margin-top: 4px;
            border: 0px solid rgb(245, 173, 107);
        }

        #mweather {
            margin-left: 15px;
            margin-top: 5px;
            float: left;
        }
    }

    .forup {
        display: none;
    }

    @media screen and (max-width: 505px) {

        #mmynews {
            margin-right: 40px;
        }

        #mweather {
            margin-left: 30px;
        }

        .postcont {
            max-width: 275px;
            border-radius: 10px;
        }

            .postcont img {
                max-width: 245px;
                max-height: 165px;
            }

        .forup {
            display: block;
        }

        .fordown {
            display: none;
        }
    }

    @media screen and (max-width:352px) {

        .postcont img {
            max-width: 202px;
        }
    }

    #forlang {
        margin-left: 65px;
    }

    .aboutus {
        height: 370px;
    }

    .datemore {
        margin-left: 3px;
        margin-top: 2px;
    }

    .topoffers h5 {
        text-align: center;
        font-size: 22px;
        color: white;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #searchbtn {
            position: relative;
            top: 5px;
        }
    }

    #lans {
        display: none;
    }

.container-fluid {
    max-width: 1600px;
}

    #footimg {
        width: 78px;
        height: 70px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .carousel-control-prev-icon {
        background-color: darkgrey;
    }

    .carousel-control-next-icon {
        background-color: darkgrey;
    }

    /*
    #particle {
    position: absolute;
    overflow: hidden;
    opacity: 0.2;
    height: 100%;
    width: 80%;
    z-index: 1;
}
*/

    .counterimg {
        width: 100px;
        height: 20px;
        visibility: hidden;
    }

.webstats a {
    color: #30b7c3;
}

    .hover-shadow {
        cursor: pointer;
    }

    .bigone {
        cursor: pointer;
    }

    .top-title{
        margin-top: 15px;
        text-align: center;
    }

    .top-title h5{
        color: white;
    }

    .contact-info h5{
        color: white;
    }

    .contact-info p{
        color: white;
    }

    .mytab{
        color: white;
    }

    .allstats{
        display: none;
    }