
@{
    ViewData["Title"] = "About";
}

<h2>Haqqımızda</h2>

<div class="aboutus">
    <p>
        Kampaniyalar.com müxtəlif şirkətlər, mağaza və obyektlərin xüsusi təklif/kampaniyalarını özündə birləşdirən veb mərkəzdir.
        Burada siz istənilən kateqoriyaya uyğun məhsul və xidmətlərdən harada endirim, hədiyyəli təkliflər, müxtəlif promoların olması haqqında,
        onların nə vaxt başlaması və bitmə tarixi, eləcə də onlar haqqında ətraflı məlumatlarla tanış ola bilərsiniz.

        Üstünlüklərimiz:
        <ul>
            <li>Dolğun, vaxtında yenilənən elanlar</li>
            <li> Etibarlı şirkətlərlə tərəfdaşlıq</li>
            <li> Hər növ ekranlı digital cihazlara rahat adaptasiya oluna bilən app</li>
        </ul>

    </p>

</div>


