@{
    ViewData["Title"] = "Avto";
}

<section class="subcat">
    <div class="filters">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="subicons">
                    <h6>Subkateqoriya seçimi</h6>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Subkateqoriya
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Yeni Avto</a>
                            <a class="dropdown-item" href="#">İşlənmiş Avto</a>
                            <a class="dropdown-item" href="#">Ehtiyat hissə</a>
                            <a class="dropdown-item" href="#">Avto icarə</a>
                        </div>
                    </div>
                </div>
                <div class="companies">
                    <h6>Şirkət seçimi</h6>
                    <select>
                        <option class="choose">Avtosalonlar</option>
                        <option>Auto Azerbaijan</option>
                        <option>Improtex Motors</option>
                        <option>Kia Baku</option>
                        <option>Autolux</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="post">
                    <div class="heading">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <img class="postlogo" src="images/newhun.png">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <div class="titles">
                                    <p class="ptitle">Auto Azerbaijan</p>
                                    <p class="address"><b>Ünvan:</b> Azadliq pr. 24 Filan binanin yani</p>
                                    <a href="">
                                        <p>Bütün ünvanlar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postcontent">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="uppart">
                                    <h6>Yeni Accent - 15% endirim</h6>
                                </div>
                                <img class="postimg" src="images/accent.png">
                                <div class="posttext">
                                    <p>
                                        Artiq yeni Hyundai Accentleri endirimle elde etmek imkani var. Bu furseti elden
                                        qacirmayin. Telesin. Yalniz indi bele endirimler elde ede bilersiniz. Yolunuzu gozleyirik.
                                    </p>
                                    <p class="formore">
                                        <strong>Ətraflı:</strong>
                                        <a href="">BURADA</a>
                                    </p>
                                </div>
                                <div class="dates">
                                    <p class="postdate">Tarix: 29.12.2018 _________</p>
                                    <p class="expdate">Bitme tarix: 29.01.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="post">
                    <div class="heading">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <img class="postlogo" src="images/newhun.png">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <div class="titles">
                                    <p class="ptitle">Auto Azerbaijan</p>
                                    <p class="address"><b>Ünvan:</b> Azadliq pr. 24 Filan binanin yani</p>
                                    <a href="">
                                        <p>Bütün ünvanlar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postcontent">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="uppart">
                                    <h6>Yeni Accent - 15% endirim elde etmek imkani yalniz indi</h6>
                                </div>
                                <img class="postimg" src="images/accent.png">
                                <div class="posttext">
                                    <p>Artiq yeni Hyundai Accentleri endirimle elde edin.</p>
                                    <p class="formore">
                                        <strong>Ətraflı:</strong>
                                        <a href="">BURADA</a>
                                    </p>
                                </div>
                                <div class="dates">
                                    <p class="postdate">Tarix: 29.12.2018 _________</p>
                                    <p class="expdate">Bitme tarix: 29.01.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="post">
                    <div class="heading">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <img class="postlogo" src="images/newhun.png">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <div class="titles">
                                    <p class="ptitle">Auto Azerbaijan</p>
                                    <p class="address"><b>Ünvan:</b> Azadliq pr. 24 Filan binanin yani</p>
                                    <a href="">
                                        <p>Bütün ünvanlar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postcontent">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="uppart">
                                    <h6>Yeni Accent - 15% endirim</h6>
                                </div>
                                <img class="postimg" src="images/accent.png">
                                <div class="posttext">
                                    <p>
                                        Artiq yeni Hyundai Accentleri endirimle elde etmek imkani var. Bu furseti elden
                                        qacirmayin.
                                    </p>
                                    <p class="formore">
                                        <strong>Ətraflı:</strong>
                                        <a href="">BURADA</a>
                                    </p>
                                </div>
                                <div class="dates">
                                    <p class="postdate">Tarix: 29.12.2018 _________</p>
                                    <p class="expdate">Bitme tarix: 29.01.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="post">
                    <div class="heading">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <img class="postlogo" src="images/newhun.png">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <div class="titles">
                                    <p class="ptitle">Auto Azerbaijan</p>
                                    <p class="address"><b>Ünvan:</b> Azadliq pr. 24 Filan binanin yani basqasi ile uzbeuz</p>
                                    <a href="">
                                        <p>Bütün ünvanlar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postcontent">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="uppart">
                                    <h6>Yeni Accent - 15% endirim</h6>
                                </div>
                                <img class="postimg" src="images/accent.png">
                                <div class="posttext">
                                    <p>
                                        Artiq yeni Hyundai Accentleri endirimle elde etmek imkani var. Bu furseti elden
                                        qacirmayin. Telesin. Yalniz indi bele endirimler elde ede bilersiniz.
                                    </p>
                                    <p class="formore">
                                        <strong>Ətraflı:</strong>
                                        <a href="">BURADA</a>
                                    </p>
                                </div>
                                <div class="dates">
                                    <p class="postdate">Tarix: 29.12.2018 _________</p>
                                    <p class="expdate">Bitme tarix: 29.01.2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="mobcompanies">
        <h6>Şirkət seçimi</h6>
        <select>
            <option class="choose">Avtosalonlar</option>
            <option>Auto Azerbaijan</option>
            <option>Improtex Motors</option>
            <option>Kia Baku</option>
            <option>Autolux</option>
        </select>
    </div>
</section>

