@model Foroffer.Models.ViewModels.AdminPostModel
@{
    Layout = "AdminLayout";
}

<section class="buttonpanel">
    <h6 style="font-weight:bold">Delete Post</h6>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <form method="post" asp-action="DeletePost" asp-controller="Post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="Confirm">
                        <h6>Are you sure to delete @Model.Post.Title ?</h6>
                        <button class="choice">Yes</button>
                        <button class="choice"><a asp-action="Admin" asp-controller="Admin">No</a></button>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>

</section>












