@model Foroffer.Models.ViewModels.PartnerPostModel

@{
    Layout = "PartnerLayout";
}

<section class="buttonpanel">
    <h5 style="font-weight:bold">Edit Post</h5>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <form method="post" asp-action="PostEdit" asp-controller="Partner" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Post.Id" />
                    <label asp-for="Post.Title" style="width: 45px">Title</label>
                    <input asp-for="Post.Title" class="postinput" type="text" maxlength="55"><br>
                    <span asp-validation-for="Post.Title"></span>
                    <label asp-for="Post.Description" style="width: 45px">Description</label><br>
                    <textarea asp-for="Post.Description" class="texbox" type="text" maxlength="145"></textarea><br>
                    <span asp-validation-for="Post.Description"></span>
                    <br>
                    <label asp-for="Post.CreatedDate" style="width:80px">Start Date</label>
                    <input asp-for="Post.CreatedDate" class="postinput" type="date" name="startDate"><br>
                    <span asp-validation-for="Post.CreatedDate"></span>
                    <label asp-for="Post.ExpirationDate" style="width: 80px">End Date</label>
                    <input asp-for="Post.ExpirationDate" class="postinput" type="date" name="endDate"><br>
                    <label asp-for="Post.URL" style="width:45px">URL</label>
                    <input asp-for="Post.URL" class="postinput" type="text" placeholder="URL"><br>
                  
                    <select asp-for="Post.SubcategoryId" asp-items="@Model.SubcategoryList">
                        <option value="">Select Subcategory</option>
                    </select>
                    <br>
                    
                    <button class="push" type="submit">Edit</button>
                </form>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>
</section>




