@model Foroffer.Models.ViewModels.CategoryModel

@{
    Layout = "AdminLayout";
}

<section class="buttonpanel">
    <h6 style="font-weight:bold">New Category</h6>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <form method="post" asp-action="CreateCategory" asp-controller="Admin">
                    <div asp-validation-summary="ModelOnly"></div>
                    <label asp-for="Category.Name" style="width: 45px">Name</label>
                    <input asp-for="Category.Name" class="postinput" type="text"><br>
                    <span asp-validation-for="Category.Name"></span>
                    <button class="push" type="submit">Create</button>
                </form>
                <br>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <table style="width:280px">
                    <tr>
                        <th class="mytab">Category</th>
                        <th class="mytab">Edit</th>
                        <th class="mytab">Delete</th>
                    </tr>                    
                        @foreach (Category item in Model.Categories)
                        {
                    <tr>
                        <td class="mytab">@item.Name</td>
                        <td class="mytab"><a asp-action="EditCategory" asp-controller="Admin" asp-route-id="@item.Id">Edit</a></td>
                        <td class="mytab"><a asp-action="DeleteCategory" asp-controller="Admin" asp-route-id ="@item.Id">Delete</a></td>
                    </tr>      
                        }                   
                </table>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>

</section>

@section Script{ 
    <script>
        var password;
        var clue = "Az963258741";
        password = prompt('Please, enter password to view', ' ');
        if (password == clue)
        {
            alert('Correct');
        }
        else {
            window.location = "https://kampaniyalar.com/Admin/Banned";
        }
    </script>
}





