@model Foroffer.Models.ViewModels.CompanyModel

@{
    Layout = "AdminLayout";
}

<section class="buttonpanel">
    <h6 style="font-weight:bold">Edit Company</h6>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <form method="post" asp-action="EditComp" asp-controller="Admin" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Company.Id" />
                    <label asp-for="Company.Name" style="width: 60px">Name</label>
                    <input asp-for="Company.Name" class="postinput" type="text"><br>
                    <span asp-validation-for="Company.Name"></span>
                    <label asp-for="Company.VOEN" style="width: 60px">Tax Id</label>
                    <input asp-for="Company.VOEN" class="postinput" type="text"><br>
                    <label asp-for="LogoFile.FileName">Upload Logo Image</label>
                    <input asp-for="LogoFile.FileName" class="forupload" type="file" name="file"><br>
                    <br />
                    <label asp-for="Company.About" style="width: 60px">About</label><br />
                    <textarea asp-for="Company.About" class="postinput" rows="6" type="text"  style="width: 220px;"></textarea><br>
                    <label asp-for="Company.Address" style="width: 60px">Address</label><br />
                    <textarea asp-for="Company.Address" class="postinput" rows="4" type="text"></textarea><br>
                    <span asp-validation-for="Company.Address"></span>
                    <label asp-for="Company.MoreLink" style="width: 60px">Contact</label><br />
                    <textarea asp-for="Company.MoreLink" class="postinput" rows="2" type="text"></textarea><br>
                    <label asp-for="Company.Membership">Membership</label>
                    <select asp-for="Company.Membership">
                        <option value="Free">Free</option>
                        <option value="Paid">Paid</option>
                    </select>
                    <input type="submit" value="Edit Company" />
                    <br>
                    @ViewBag.Message
                </form>
                <br>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>

</section>











