@model Foroffer.Models.ViewModels.DetailedViewModel

@{
    Layout = "AdminLayout";
}

<section class="buttonpanel">
    <h5 style="font-weight:bold">Edit Detailed</h5>
</section>
<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <form method="post" asp-action="EditDetailed" asp-controller="Detailed">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Detailed.Id" />
                    <label asp-for="Detailed.Outline">Outline</label><br />
                    <textarea asp-for="Detailed.Outline" id="outline" class="texbox"></textarea>
                    <br />
                    <label asp-for="Detailed.CompanyInfo">CompanyInfo</label><br />
                    <textarea asp-for="Detailed.CompanyInfo" class="texbox"></textarea>
                    <br />
                    <button class="push" id="btnupload" type="submit">Edit</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>
</section>



