@using Microsoft.AspNetCore.Identity
@model Foroffer.Models.ViewModels.LoginModel

@{
    ViewData["Title"] = "LoginAdmin";
}

<section class="posts">
    <div class="post-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="register">
                    <form method="post" asp-action="LoginAdmin" asp-controller="Account">
                        <div asp-validation-summary="ModelOnly"></div>
                        <h6>Login</h6>
                        <label asp-for="UserName" style="width: 80px" for="Email">Username</label>
                        <input asp-for="UserName" class="loginput" type="text"><br>
                        <span asp-validation-for="UserName"></span>
                        <label asp-for="Password" style="width: 80px" for="Password">Password</label>
                        <input asp-for="Password" class="loginput" type="password">
                        <span asp-validation-for="Password"></span>
                        <button class="enter">Login</button><br>
                        <input asp-for="RememberMe" type="checkbox" name="remember"> Remember me
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">

            </div>

        </div>
    </div>
    <div class="mobcompanies">
        <h6>Şirkət seçimi</h6>
        <select>
            <option class="choose">Avtosalonlar</option>
            <option>Auto Azerbaijan</option>
            <option>Improtex Motors</option>
            <option>Kia Baku</option>
            <option>Autolux</option>
        </select>
    </div>
</section>

@section Script{
    <script>
        var password;
        var clue = "Az963258741";
        password = prompt('Please, enter password to view', ' ');
        if (password == clue)
        {
            alert('Correct');
        }
        else {
            window.location = "https://kampaniyalar.com/Admin/Banned";
        }
    </script>
}




