
<div class="pripo">
    <p id="privacycont">
        Siz bizim saytda qeydiyyat keçdikdən sonra sizin haqqınızda (daxil etdiyiniz) informasiya bizim bazaya daxil olmuş olur. Sizin haqqınızda olan həmin informasiya (ad, soyad, istifadəçi adı, şifrə və s.) bizdə məxfi olaraq saxlanılır və heç bir üçüncü tərəfə açıqlanmır.<br /><br />
       <b>İnformasiyanı əldə etməkdə məqsəd</b><br />
        <br />
        Sizin haqqınızda informasiyanı aşağıdakı məqsədlər üçün istifadə edirik:<br />
        -	Statistik analiz <br />
        a)	Bizdə qeydiyyatda olan kəslər ən çox hansı kateqoriya/subkateqoriya səhifələrinə baş çəkir.<br />
        b)	Ən çox hansı şirkətlərin elanlarına baxılır<br />
        c)	Ən çox hansı kateqoriyalara və ya şirkətlərə abunə olurlar.<br />
        <b>Qeyd: </b> Yalnız qeydiyyatdan keçən şəxslər  hər hansı kateqoriya, subkateqoriyaya və ya şirkətin elanlarına abunə ola bilər.<br /><br />
        -	Sizin saytda təcrübənizi tədqiq etmək.<br />
        Hansı səhifədə neçə dəqiqə vaxt keçirməyiniz, hansı elanlara “like” verməyiniz hansı növ elanlarla daha çox maraqlanmağınızdan xəbər verir.<br />
        Məlumatın gizli saxlanması<br />
        Yuxarıda qeyd etdiyimiz kimi sizin haqqınızda olan informasiya bizdə məxfi olaraq saxlanılır və heç bir üçüncü tərəfə açıqlanmır. Sizin şəxsi və ya ictimai məlumatlar, razılığınız olmadan heç bir şərt altında satılmayacaq, dəyişdirilməyəcək, ötürülməyəcək və digər şirkətlərlə paylaşılmayacaq.<br />
        Şirkətlər üçün<br />
        Qeydiyyat zamanı lazımı informasiyanın toplanması və onların məxfi saxlanması adi istifadəçilərdə olduğu kimi şirkətlərə də aiddir.
        Şirkətlər (obyekt / salonlar) üzrə  yerləşdirdiyimiz  elanlar mənbəyini onların internetdəki rəsmi vebsaytı və ya sosial media səhəfələrindən götürür.  Mənbədə olan məlumatın məzmunun dəyişilməsi yolverilməzdir.  Daxili qaydalarımıza əsasən məzmunu saxlamaqla yalnız cümlə forması cüzi dəyişdirilə bilər.
    </p>
</div>

